<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.midcloud2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MidCloud2">
        <activity
            android:name=".OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileVisitorActivity"
            android:exported="false" />
        <activity
            android:name=".CashoutActivity"
            android:exported="false" />
        <activity
            android:name=".WalletActivity"
            android:exported="false" />
        <activity
            android:name=".AddressActivity"
            android:exported="false" />
        <activity
            android:name=".AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".TermsConditionsActivity2"
            android:exported="false" />
        <activity
            android:name=".QAActivity"
            android:exported="false" />
        <activity
            android:name=".HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".AllReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".ChairProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".BloodProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ClinicProfileActivity"
            android:exported="false" />
        <activity
            android:name=".BestProductsActivity"
            android:exported="false" />
        <activity
            android:name=".NewArrivalActivity"
            android:exported="false" />
        <activity
            android:name=".AllDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".AllClinicsActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".IndividualHomeActivity"
            android:exported="false" />
        <activity
            android:name=".OTPIndividualSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".IndividualsSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".SelectSignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".OTPForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Splash2Activity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>